@charset "UTF-8";
.table{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    background-color: bisque;
    grid-gap:0px;
    font-size: 1.5rem;

}
.data,.field{
    border: 2px solid orange;
}